repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-added-large-files
        args: ['--maxkb=1000']
    -   id: check-merge-conflict
    -   id: check-yaml
        exclude: meta.yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.26.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v2.6.0
    hooks:
    -   id: reorder-python-imports
-   repo: https://github.com/psf/black
    rev: 21.9b0
    hooks:
    -   id: black
-   repo: https://github.com/asottile/blacken-docs
    rev: v1.11.0
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==20.8b1]
-   repo: https://github.com/PyCQA/flake8
    rev: 3.9.2
    hooks:
    -   id: flake8
        types: [python]
        additional_dependencies: [
            flake8-alfred, flake8-bugbear, flake8-builtins, flake8-comprehensions,
            flake8-docstrings, flake8-eradicate, flake8-print, flake8-pytest-style,
            flake8-todo, flake8-unused-arguments, pep8-naming, pydocstyle, Pygments,
        ]
-   repo: https://github.com/PyCQA/doc8
    rev: 0.9.0
    hooks:
    -   id: doc8
#-   repo: local
#    hooks:
#    -   id: restructuredtext-lint
#        entry: rst-lint
#        language: system
#        files: '(README.rst)'
#        name: restructuredtext-lint - Is the README PyPi-compliant?
#- repo: https://github.com/codespell-project/codespell
#  rev: v1.16.0
#  hooks:
#    - id: codespell
